# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Pycharm files
__pycache__/
venv/
.idea/

#python virtual environment
.venv/

#googleapis sources
googleapis_files/*

#protobuf sources
cpp/libdictation-client/dictation_asr.*

# ignore files in directory `audio`
cpp/docker/audio/*

# ignore files in directory `tls`
cpp/docker/tls/*

# ignore files in directory `audio`
python/docker/audio/*

# ignore files in directory `tls`
python/docker/tls/*

# but keep the directories with .gitkeep file
!/**/.gitkeep
