---
---

@import "jekyll-theme-slate";

.inner { max-width: 960px; }
#techmo_logo { padding: 0; margin: 0; }
#header_wrap .inner { padding: 5px 10px 10px 10px; }
#project_title { font-size: 36px; }
#project_tagline { font-size: 20px; }
h2 { padding-bottom: 0px; border-bottom: 1px solid #212121; background: none; }
